<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeLeaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
        layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Page patients</title>
</head>
<body>
<div layout:fragment="pageContent">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3>List des patients</h3>
            </div>
            <div class="card-body">
                <form th:action="@{patients}" method="get" class="form-group">
                    <label>
                        Name
                    </label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-success">chercher</button>
                </form>
                <table class="table">
                    <tr>
                        <td>id</td>
                        <td>name</td>
                        <td>date de naissance</td>
                        <td>malade</td>
                    </tr>
                    <tr th:each="p:${patients}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.dateNaissance}"></td>
                        <td th:text="${p.malade}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <ul class="nav nav-pills">
            <li th:each="page,status:${pages}">
                <a th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                   th:href="@{patients(page=${status.index},keyword=${keyword})}" th:text="${status.index}"></a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>